/*varible*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: top; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  font-family: 'Roboto', sans-serif; }
  body input, body textarea {
    font-family: 'Roboto', sans-serif; }

.restaurant {
  font-family: 'Roboto', sans-serif;
  line-height: normal; }
  .restaurant * {
    box-sizing: border-box; }
  .restaurant .side-menu.active {
    left: 0; }
  .restaurant .side-menu {
    position: fixed;
    width: 250px;
    height: 100%;
    left: -270px;
    top: 0;
    z-index: 9;
    background-color: #27242a;
    color: white;
    transition: all 0.5s ease; }
    .restaurant .side-menu .list {
      padding: 15px 25px;
      border-bottom: 1px solid #4a4a4a;
      cursor: pointer;
      color: white;
      transition: all 0.5s ease; }
      .restaurant .side-menu .list:hover {
        background-color: #fa0000; }
  .restaurant .cover-image-container {
    position: relative; }
    .restaurant .cover-image-container .cover-image {
      position: relative;
      height: 350px; }
      .restaurant .cover-image-container .cover-image .cover-content {
        position: absolute;
        top: 0;
        z-index: 2;
        width: 100%;
        height: 100%;
        padding: 50px 80px; }
        .restaurant .cover-image-container .cover-image .cover-content .header {
          margin-bottom: 10px; }
          .restaurant .cover-image-container .cover-image .cover-content .header .menu {
            display: inline-block;
            cursor: pointer; }
            .restaurant .cover-image-container .cover-image .cover-content .header .menu p {
              width: 25px;
              height: 2px;
              display: block;
              background: white;
              margin-bottom: 4px; }
          .restaurant .cover-image-container .cover-image .cover-content .header .cart {
            display: inline-block;
            width: 25px;
            height: 25px;
            float: right;
            position: relative; }
            .restaurant .cover-image-container .cover-image .cover-content .header .cart img {
              cursor: pointer;
              max-width: 100%; }
            .restaurant .cover-image-container .cover-image .cover-content .header .cart .number {
              position: absolute;
              color: white;
              font-size: 13px;
              width: 20px;
              height: 20px;
              right: -10px;
              top: -10px;
              text-align: center;
              background: #fa0000;
              border-radius: 50%;
              line-height: 20px; }
        .restaurant .cover-image-container .cover-image .cover-content .cover-text {
          text-align: center;
          color: white;
          padding: 50px 0px; }
          .restaurant .cover-image-container .cover-image .cover-content .cover-text h1 {
            font-size: 30px;
            margin: 8px 0px; }
          .restaurant .cover-image-container .cover-image .cover-content .cover-text p {
            font-size: 13px; }
          @media screen and (max-width: 1199px) {
            .restaurant .cover-image-container .cover-image .cover-content .cover-text h1 {
              font-size: 27px; } }
          @media screen and (max-width: 979px) {
            .restaurant .cover-image-container .cover-image .cover-content .cover-text h1 {
              font-size: 25px; }
            .restaurant .cover-image-container .cover-image .cover-content .cover-text p {
              font-size: 12px; } }
          @media screen and (max-width: 767px) {
            .restaurant .cover-image-container .cover-image .cover-content .cover-text h1 {
              font-size: 23px; } }
          @media screen and (max-width: 480px) {
            .restaurant .cover-image-container .cover-image .cover-content .cover-text h1 {
              font-size: 20px; }
            .restaurant .cover-image-container .cover-image .cover-content .cover-text p {
              font-size: 11px; } }
        @media screen and (max-width: 480px) {
          .restaurant .cover-image-container .cover-image .cover-content .cover-text {
            padding: 80px 0px; } }
      @media screen and (max-width: 767px) {
        .restaurant .cover-image-container .cover-image .cover-content {
          padding: 25px 20px; } }
      .restaurant .cover-image-container .cover-image .cover-div {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;
        background: black;
        top: 0;
        opacity: 0.5; }
      .restaurant .cover-image-container .cover-image .image-holder {
        overflow: hidden;
        height: 100%;
        position: relative; }
        .restaurant .cover-image-container .cover-image .image-holder img {
          width: 100%;
          height: 100%;
          object-fit: cover; }
  .restaurant .strip {
    background-color: #fa0000;
    position: relative; }
    .restaurant .strip .middle-line {
      position: absolute;
      height: 70%;
      width: 1px;
      background: #f5f5f5;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%); }
    @media screen and (max-width: 480px) {
      .restaurant .strip .middle-line {
        display: none; } }
    .restaurant .strip .container .left-menu {
      display: inline-block;
      padding: 12px 0px;
      margin-left: 15px; }
      .restaurant .strip .container .left-menu .fa-caret-down {
        display: none; }
      .restaurant .strip .container .left-menu .fa-map-marker {
        color: white;
        font-size: 20px; }
      .restaurant .strip .container .left-menu p {
        display: inline-block;
        color: white;
        font-size: 14px;
        vertical-align: middle;
        margin-left: 10px;
        border-bottom: 1px solid white; }
      @media screen and (max-width: 1199px) {
        .restaurant .strip .container .left-menu .fa-map-marker {
          font-size: 18px; }
        .restaurant .strip .container .left-menu p {
          font-size: 13px; } }
    @media screen and (max-width: 1199px) {
      .restaurant .strip .container .left-menu {
        padding: 10px 0px; } }
    @media screen and (max-width: 767px) {
      .restaurant .strip .container .left-menu {
        padding: 9px 0px; } }
    @media screen and (max-width: 480px) {
      .restaurant .strip .container .left-menu {
        width: 100%;
        margin: 0;
        text-align: center; }
        .restaurant .strip .container .left-menu .fa-caret-down {
          display: inline-block;
          color: white;
          font-size: 21px;
          line-height: 0.9;
          float: right;
          margin-right: 20px; } }
    .restaurant .strip .container .right-menu {
      display: inline-block;
      float: right; }
      .restaurant .strip .container .right-menu .fa {
        cursor: pointer;
        color: white;
        font-size: 20px;
        color: white;
        font-size: 20px;
        margin: 5px 10px;
        padding: 7px 12px; }
      .restaurant .strip .container .right-menu .fa.active {
        background: white;
        color: red;
        border-radius: 5px;
        text-align: center; }
      @media screen and (max-width: 1199px) {
        .restaurant .strip .container .right-menu .fa {
          font-size: 18px;
          margin: 4px 10px;
          padding: 6px 10px; } }
      @media screen and (max-width: 767px) {
        .restaurant .strip .container .right-menu .fa {
          font-size: 17px;
          margin: 5px 5px;
          padding: 5px 10px; } }
    @media screen and (max-width: 480px) {
      .restaurant .strip .container .right-menu {
        width: 100%;
        text-align: center;
        background-color: #fa0000;
        top: -37px;
        z-index: -1;
        position: relative;
        transition: all 0.5s ease; }
      .restaurant .strip .container .right-menu.active {
        top: 0;
        z-index: 1; } }
  .restaurant .content {
    padding-top: 0; }
    .restaurant .content .container {
      max-width: 1200px;
      width: 100%;
      padding: 0px 15px;
      margin: 0px auto; }
    @media screen and (max-width: 767px) {
      .restaurant .content .container {
        padding: 0px; } }
    .restaurant .content .food-content {
      background-color: #eeeeee; }
      .restaurant .content .food-content .container .boxes {
        padding: 30px 0px; }
        .restaurant .content .food-content .container .boxes .food-box {
          width: calc(33.33% - 30px);
          display: inline-block;
          margin: 15px 15px;
          -webkit-box-shadow: 3px 3px 2px 1px #e8e8e8;
          -moz-box-shadow: 3px 3px 2px 1px #e8e8e8;
          box-shadow: 3px 3px 2px 1px #e8e8e8;
          transition: all 0.3s ease; }
          .restaurant .content .food-content .container .boxes .food-box:hover {
            transform: translateY(-0.5em); }
          .restaurant .content .food-content .container .boxes .food-box .top {
            position: relative;
            height: 200px; }
            .restaurant .content .food-content .container .boxes .food-box .top img {
              width: 100%;
              height: 100%;
              object-fit: cover; }
          .restaurant .content .food-content .container .boxes .food-box .bottom {
            padding: 30px;
            background: white;
            text-align: center; }
            .restaurant .content .food-content .container .boxes .food-box .bottom .details {
              margin-bottom: 15px; }
              .restaurant .content .food-content .container .boxes .food-box .bottom .details .name {
                font-size: 18px;
                margin-bottom: 5px; }
              .restaurant .content .food-content .container .boxes .food-box .bottom .details span {
                font-size: 14px;
                color: #7d7d7d; }
              @media screen and (max-width: 1199px) {
                .restaurant .content .food-content .container .boxes .food-box .bottom .details .name {
                  font-size: 17px; }
                .restaurant .content .food-content .container .boxes .food-box .bottom .details span {
                  font-size: 13px; } }
              @media screen and (max-width: 767px) {
                .restaurant .content .food-content .container .boxes .food-box .bottom .details .name {
                  font-size: 16px; }
                .restaurant .content .food-content .container .boxes .food-box .bottom .details span {
                  font-size: 12px; } }
            @media screen and (max-width: 767px) {
              .restaurant .content .food-content .container .boxes .food-box .bottom .details {
                margin-bottom: 10px; } }
            .restaurant .content .food-content .container .boxes .food-box .bottom .first {
              margin: 9px;
              border-bottom: 1px solid #f1f1f1;
              width: 50%;
              display: inline-block; }
            .restaurant .content .food-content .container .boxes .food-box .bottom .second {
              margin: 0px;
              border-bottom: 1px solid #f1f1f1;
              width: 45%;
              display: inline-block; }
            .restaurant .content .food-content .container .boxes .food-box .bottom .price {
              margin-bottom: 15px;
              font-size: 20px;
              color: #fa0000; }
            @media screen and (max-width: 767px) {
              .restaurant .content .food-content .container .boxes .food-box .bottom .price {
                margin-bottom: 10px;
                font-size: 18px; } }
            .restaurant .content .food-content .container .boxes .food-box .bottom .buttons {
              text-align: left; }
              .restaurant .content .food-content .container .boxes .food-box .bottom .buttons .btn {
                width: 48%;
                padding: 10px;
                border-radius: 5px;
                font-size: 13px;
                font-weight: bold;
                cursor: pointer;
                transition: all 0.5s ease; }
                .restaurant .content .food-content .container .boxes .food-box .bottom .buttons .btn:focus {
                  outline: none; }
                .restaurant .content .food-content .container .boxes .food-box .bottom .buttons .btn:hover {
                  background-color: #fa0000 !important;
                  border-color: #fa0000 !important;
                  color: white; }
              @media screen and (max-width: 1199px) {
                .restaurant .content .food-content .container .boxes .food-box .bottom .buttons .btn {
                  padding: 10px 8px;
                  font-size: 12px; } }
              @media screen and (max-width: 979px) {
                .restaurant .content .food-content .container .boxes .food-box .bottom .buttons .btn {
                  padding: 10px 0px;
                  font-size: 11px; } }
              @media screen and (max-width: 767px) {
                .restaurant .content .food-content .container .boxes .food-box .bottom .buttons .btn {
                  padding: 8px 0px; } }
              .restaurant .content .food-content .container .boxes .food-box .bottom .buttons .btn.btn-details {
                border: 1px solid #a7a5a8;
                background: none; }
              .restaurant .content .food-content .container .boxes .food-box .bottom .buttons .btn.btn-add-to-cart {
                border: 1px solid #d2d2d3;
                background: #27242a;
                float: right;
                color: white; }
          @media screen and (max-width: 979px) {
            .restaurant .content .food-content .container .boxes .food-box .bottom {
              padding: 20px 10px; } }
          @media screen and (max-width: 767px) {
            .restaurant .content .food-content .container .boxes .food-box .bottom {
              padding: 10px 8px; } }
          @media screen and (max-width: 480px) {
            .restaurant .content .food-content .container .boxes .food-box .bottom {
              padding: 15px 15px; } }
        @media screen and (max-width: 767px) {
          .restaurant .content .food-content .container .boxes .food-box {
            width: calc(50% - 30px); } }
        @media screen and (max-width: 480px) {
          .restaurant .content .food-content .container .boxes .food-box {
            width: calc(100% - 30px); } }
    .restaurant .content .footer {
      background: #27242a;
      color: white;
      padding: 50px 0px; }
      .restaurant .content .footer .icons {
        text-align: center;
        margin-bottom: 50px; }
        .restaurant .content .footer .icons .fa {
          cursor: pointer;
          font-size: 25px;
          margin: 0px 20px; }
        .restaurant .content .footer .icons .fa-facebook {
          color: white;
          transition: all 0.5s ease; }
          .restaurant .content .footer .icons .fa-facebook:hover {
            color: #4867aa; }
        .restaurant .content .footer .icons .fa-twitter {
          color: white;
          transition: all 0.5s ease; }
          .restaurant .content .footer .icons .fa-twitter:hover {
            color: #28a4e8; }
        .restaurant .content .footer .icons .fa-instagram {
          color: white;
          transition: all 0.5s ease; }
          .restaurant .content .footer .icons .fa-instagram:hover {
            color: #f67138; }
        @media screen and (max-width: 1199px) {
          .restaurant .content .footer .icons .fa {
            font-size: 23px; } }
        @media screen and (max-width: 767px) {
          .restaurant .content .footer .icons .fa {
            font-size: 20px; } }
      .restaurant .content .footer .footer-menu .left {
        display: inline-block;
        font-size: 14px;
        padding-left: 15px;
        color: #504e54; }
        .restaurant .content .footer .footer-menu .left .leftdiv {
          display: inline-block;
          border-right: 1px solid #504e54;
          cursor: pointer;
          transition: all 0.5s ease; }
          .restaurant .content .footer .footer-menu .left .leftdiv:hover {
            color: white; }
        @media screen and (max-width: 480px) {
          .restaurant .content .footer .footer-menu .left .leftdiv {
            display: block;
            margin: 5px; } }
        .restaurant .content .footer .footer-menu .left .contact {
          padding-right: 20px; }
        .restaurant .content .footer .footer-menu .left .terms {
          padding: 0px 20px; }
        .restaurant .content .footer .footer-menu .left .privacy {
          padding-left: 20px;
          border-right: none; }
        @media screen and (max-width: 767px) {
          .restaurant .content .footer .footer-menu .left .contact {
            padding-right: 10px; }
          .restaurant .content .footer .footer-menu .left .terms {
            padding: 0px 15px; }
          .restaurant .content .footer .footer-menu .left .privacy {
            padding-left: 15px; } }
        @media screen and (max-width: 480px) {
          .restaurant .content .footer .footer-menu .left .terms {
            padding: 0px;
            border: none; }
          .restaurant .content .footer .footer-menu .left .contact {
            padding-right: 15px;
            border: none; }
          .restaurant .content .footer .footer-menu .left .privacy {
            padding-left: 0px; } }
      .restaurant .content .footer .footer-menu .right {
        display: inline-block;
        float: right;
        color: #504e54;
        font-size: 14px; }
      @media screen and (max-width: 1199px) {
        .restaurant .content .footer .footer-menu .right, .restaurant .content .footer .footer-menu .left {
          font-size: 13px; } }
      @media screen and (max-width: 767px) {
        .restaurant .content .footer .footer-menu .right, .restaurant .content .footer .footer-menu .left {
          font-size: 12px; }
        .restaurant .content .footer .footer-menu .right {
          padding-right: 15px; } }
      @media screen and (max-width: 480px) {
        .restaurant .content .footer .footer-menu .right, .restaurant .content .footer .footer-menu .left {
          display: block;
          text-align: center;
          padding: 0; }
        .restaurant .content .footer .footer-menu .right {
          float: none;
          padding: 0px; } }

/*# sourceMappingURL=custom.css.map */