<div id='map'></div>
<div id="app-main">
    <div class="restaurant">
    	<div class="side-menu">
    		<div class="list">menu1</div>
    		<div class="list">menu2</div>
    		<div class="list">menu3</div>
    		<div class="list">menu4</div>
    		<div class="list">menu5</div>
    		    	</div>
    	<div class="content">
    		<div class="cover-image-container">
    			<div class="cover-image">
    				<div class="image-holder">
    					<img src="../../images/cover.jpg">
    				</div>
    				<div class="cover-div"></div>
    				<div class="cover-content">
    					<div class="header">
    						<div class="menu">
    							<p></p>
    							<p></p>
    							<p></p>
    						</div>
    						<div class="cart">
		    					<img src="../../images/shopping-cart.svg">
		    					<div class="number">0</div>
    						</div>
    					</div>
    					<div class="cover-text">
    						<h1>WE COOK. WE DELIVER.</h1>
    						<p>THE GREATEST FOOD YOU'VE EVER EATEN</p>
    					</div>
    				</div>
    			</div>
    		</div>
    		<div class="strip">
    			<div class="container">
    				<div class="left-menu">
    					<i class="fa fa-map-marker fa-6" aria-hidden="true"></i>
    					<p>194 West Broadway, New York, NY</p>
    					<i class="fa fa-caret-down" aria-hidden="true"></i>
    				</div>
    				<div class="right-menu">
    					<i class="fa fa-jpy" aria-hidden="true"></i>
    					<i class="fa fa-tint active" aria-hidden="true"></i>
    					<i class="fa fa-leaf" aria-hidden="true"></i>
    					<i class="fa fa-tree" aria-hidden="true"></i>
    				</div>
    			</div>
    			<div class="middle-line"></div>
    		</div>
    		<div class="food-content">
	    		<div class="container">
	    			<div class="boxes">
	    				<div class="food-box" ng-repeat="i in [1,2,3,4,5,6,7,8,9,10]">
	    					<div class="top">
	    						<img src="../../images/menu{{i%4}}.jpg">
	    					</div>
	    					<div class="bottom">
	    						<div class="details">
	    							<p class="name">Roasted pigeon</p>
	    							<span>Once roasted, the sweet juices and crisp skin of a pigeon is absolutely unmissable</span>
	    						</div>
	    						<div class="first"></div><br/>
	    						<div class="second"></div>
	    						<div class="price">
	    							<h2>$59.99</h2>
	    						</div>
	    						<div class="buttons">
	    							<button class="btn btn-details">DETAILS</button>
	    							<button class="btn btn-add-to-cart">ADD TO CART</button>
	    						</div>
	    					</div>
	    				</div>
	    			</div>
	    		</div>
    		</div>
    		<div class="footer">
    			<div class="container">
		    		<div class="icons">
		    			<i class="fa fa-facebook" aria-hidden="true"></i>
		    			<i class="fa fa-twitter" aria-hidden="true"></i>
		    			<i class="fa fa-instagram" aria-hidden="true"></i>
		    		</div>
		    		<div class="footer-menu">
		    			<div class="left">
		    				<div class="leftdiv contact">Contact</div>
		    				<div class="leftdiv terms">Terms of Use</div>
		    				<div class="leftdiv privacy">Privacy Policy</div>
		    			</div>
		    			<div class="right">
		    				<p>Copyright@713. All right Reserved.</p>
		    			</div>
		    		</div>
	    		</div>
    		</div>
    	</div>
    </div>
</div>