<div class="arrow-holder">
                            <span href="#" class="logo">
                                s
                            </span>
                            <div class="arrow"></div>
</div>
<nav class="nav-menu">
        <ul>
            <li><button><a href="addnew-seven-step.html">Add New Listing</a></button></li>
            <li class="login modal-click" data-modal="login"><button>Log-in</button></li>
            <li class="sign-up modal-click" data-modal="sign-up"><button>Sign-up</button></li>
            <li class="sign-up mobile"><button>Setting</button></li>
            <li class="sign-up mobile"><button>Privacy</button></li>
        </ul>
</nav>
<div class="modal login-modal" id="login">
    <div class="scroll">
        <div class="box">
            <div class="close icon">
                <svg height="512px" id="Layer_1" style="enable-background:new 0 0 512 512;" version="1.1" viewBox="0 0 512 512" width="512px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M437.5,386.6L306.9,256l130.6-130.6c14.1-14.1,14.1-36.8,0-50.9c-14.1-14.1-36.8-14.1-50.9,0L256,205.1L125.4,74.5  c-14.1-14.1-36.8-14.1-50.9,0c-14.1,14.1-14.1,36.8,0,50.9L205.1,256L74.5,386.6c-14.1,14.1-14.1,36.8,0,50.9  c14.1,14.1,36.8,14.1,50.9,0L256,306.9l130.6,130.6c14.1,14.1,36.8,14.1,50.9,0C451.5,423.4,451.5,400.6,437.5,386.6z"></path></svg>
            </div>
            <div class="stump-form or">
                <h1>Login</h1>
                <div class="form">
                    <div class="input error">
                        <label for="email">E-mail</label>
                        <div class="input-box">
                            <input type="text" id="email" placeholder="E-mail">
                            <div class="clear">
                                <svg height="512px" id="Layer_1" style="enable-background:new 0 0 512 512;" version="1.1" viewBox="0 0 512 512" width="512px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M437.5,386.6L306.9,256l130.6-130.6c14.1-14.1,14.1-36.8,0-50.9c-14.1-14.1-36.8-14.1-50.9,0L256,205.1L125.4,74.5  c-14.1-14.1-36.8-14.1-50.9,0c-14.1,14.1-14.1,36.8,0,50.9L205.1,256L74.5,386.6c-14.1,14.1-14.1,36.8,0,50.9  c14.1,14.1,36.8,14.1,50.9,0L256,306.9l130.6,130.6c14.1,14.1,36.8,14.1,50.9,0C451.5,423.4,451.5,400.6,437.5,386.6z"></path></svg>
                            </div>
                        </div>
                        <p class="status">Email Cannot be empty</p>
                    </div>
                    <div class="input error">
                        <label for="email">Password</label>
                        <div class="input-box">
                            <input type="Password" id="email" placeholder="Password">
                            <div class="clear">
                                <svg height="512px" id="Layer_1" style="enable-background:new 0 0 512 512;" version="1.1" viewBox="0 0 512 512" width="512px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M437.5,386.6L306.9,256l130.6-130.6c14.1-14.1,14.1-36.8,0-50.9c-14.1-14.1-36.8-14.1-50.9,0L256,205.1L125.4,74.5  c-14.1-14.1-36.8-14.1-50.9,0c-14.1,14.1-14.1,36.8,0,50.9L205.1,256L74.5,386.6c-14.1,14.1-14.1,36.8,0,50.9  c14.1,14.1,36.8,14.1,50.9,0L256,306.9l130.6,130.6c14.1,14.1,36.8,14.1,50.9,0C451.5,423.4,451.5,400.6,437.5,386.6z"></path></svg>
                            </div>
                        </div>
                        <p class="status">Password Cannot be empty</p>
                    </div>
                    <div class="password clearfix">
                        <h3>Forgot Password?<button class="transparent close" data-modal="forget-password">Click here!</button></h3>
                    </div>
                    <div class="input">
                        <button class="btn is-loading" id="loginBtn">Login</button>
                    </div>
                </div>
            </div>
            <div class="login-facebook">
                <button class="btn">
                    <svg enable-background="new 0 0 512 512" height="512px" id="Layer_1" version="1.1" viewBox="0 0 512 512" width="512px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><linearGradient gradientUnits="userSpaceOnUse" id="SVGID_1_" x1="419.7869" x2="71.8043" y1="462.8515" y2="23.3735"><stop offset="0" style="stop-color:#3B5998"/><stop offset="1" style="stop-color:#336699"/></linearGradient><path d="M256,7.098C118.535,7.098,7.098,118.535,7.098,256S118.535,504.902,256,504.902  c1.781,0,3.554-0.03,5.326-0.067v-164.1h-55.124v-68.905h55.124v-41.343c0-56.764,32.041-96.467,82.687-96.467  c24.255,0,41.343,0,55.124,0v68.905h-27.562c-27.535,0-41.343,13.781-41.343,41.343v27.562h68.905l-13.781,68.905h-55.124v152.908  C431.44,462.061,504.902,367.611,504.902,256C504.902,118.535,393.465,7.098,256,7.098z" fill="url(#SVGID_1_)"/></svg>
                    <span>
                        Login with facebook
                    </span>
                </button>
            </div>
            <div class="login-facebook">
               <button class="appTwitter btn">
                 <svg enable-background="new 0 0 56.693 56.693" height="56.693px" fill="#1da1f2" id="Layer_1" version="1.1" viewBox="0 0 56.693 56.693" width="56.693px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <path d="M52.837,15.065c-1.811,0.805-3.76,1.348-5.805,1.591c2.088-1.25,3.689-3.23,4.444-5.592c-1.953,1.159-4.115,2-6.418,2.454  c-1.843-1.964-4.47-3.192-7.377-3.192c-5.581,0-10.106,4.525-10.106,10.107c0,0.791,0.089,1.562,0.262,2.303  c-8.4-0.422-15.848-4.445-20.833-10.56c-0.87,1.492-1.368,3.228-1.368,5.082c0,3.506,1.784,6.6,4.496,8.412  c-1.656-0.053-3.215-0.508-4.578-1.265c-0.001,0.042-0.001,0.085-0.001,0.128c0,4.896,3.484,8.98,8.108,9.91  c-0.848,0.23-1.741,0.354-2.663,0.354c-0.652,0-1.285-0.063-1.902-0.182c1.287,4.015,5.019,6.938,9.441,7.019  c-3.459,2.711-7.816,4.327-12.552,4.327c-0.815,0-1.62-0.048-2.411-0.142c4.474,2.869,9.786,4.541,15.493,4.541  c18.591,0,28.756-15.4,28.756-28.756c0-0.438-0.009-0.875-0.028-1.309C49.769,18.873,51.483,17.092,52.837,15.065z"/>
                  </svg>
                  <span class="login-with-twitter-lang"></span>
               </button>
            </div>
            <h3>Don't have an account?<button class="transparent close" data-modal="sign-up">Sign-up!</button></h3>
        </div>
    </div>
    <div class="background"></div>
</div>
<div class="modal signup-modal facebook-sign-up" id="sign-up">
    <div class="scroll">
        <div class="box">
        <div class="close icon">
            <svg height="512px" id="Layer_1" style="enable-background:new 0 0 512 512;" version="1.1" viewBox="0 0 512 512" width="512px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M437.5,386.6L306.9,256l130.6-130.6c14.1-14.1,14.1-36.8,0-50.9c-14.1-14.1-36.8-14.1-50.9,0L256,205.1L125.4,74.5  c-14.1-14.1-36.8-14.1-50.9,0c-14.1,14.1-14.1,36.8,0,50.9L205.1,256L74.5,386.6c-14.1,14.1-14.1,36.8,0,50.9  c14.1,14.1,36.8,14.1,50.9,0L256,306.9l130.6,130.6c14.1,14.1,36.8,14.1,50.9,0C451.5,423.4,451.5,400.6,437.5,386.6z"></path></svg>
        </div>
        <div class="progress">
            <ul class="progressbar">
                <li class="active">Username</li>
                <li>Display name</li>
                <li>Notify method</li>
                <li class="password-link">Password</li>
            </ul>
            <div class="items">
                <div class="item active">
                    <div class="content">
                        <h3>Username</h3>
                        <div class="stump-form">
                            <div class="form">
                                <div class="input error">
                                    <label for="email">Choose a username</label>
                                    <div class="input-box">
                                        <input type="text" placeholder="username">
                                        <div class="clear">
                                            <svg height="512px" id="Layer_1" style="enable-background:new 0 0 512 512;" version="1.1" viewBox="0 0 512 512" width="512px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M437.5,386.6L306.9,256l130.6-130.6c14.1-14.1,14.1-36.8,0-50.9c-14.1-14.1-36.8-14.1-50.9,0L256,205.1L125.4,74.5  c-14.1-14.1-36.8-14.1-50.9,0c-14.1,14.1-14.1,36.8,0,50.9L205.1,256L74.5,386.6c-14.1,14.1-14.1,36.8,0,50.9  c14.1,14.1,36.8,14.1,50.9,0L256,306.9l130.6,130.6c14.1,14.1,36.8,14.1,50.9,0C451.5,423.4,451.5,400.6,437.5,386.6z"></path></svg>
                                        </div>
                                    </div>
                                    <p class="status">Cannot be empty</p>
                                </div>
                            </div>
                        </div>
                        <div class="message-block">
                            <h3>Already have an account?
                            <button class="close" data-modal="login">Login!
                            </button>
                            </h3>
                        </div>
                        <div class="bottom clearfix">
                            <div class="left-button">
                                <h3>
                                    <div class="fb-svg">
                                        <svg enable-background="new 0 0 512 512" height="512px" id="Layer_1" version="1.1" viewBox="0 0 512 512" width="512px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><linearGradient gradientUnits="userSpaceOnUse" id="SVGID_2_" x1="419.7869" x2="71.8043" y1="462.8515" y2="23.3735"><stop offset="0" style="stop-color:#3B5998"></stop><stop offset="1" style="stop-color:#336699"></stop></linearGradient><path d="M256,7.098C118.535,7.098,7.098,118.535,7.098,256S118.535,504.902,256,504.902  c1.781,0,3.554-0.03,5.326-0.067v-164.1h-55.124v-68.905h55.124v-41.343c0-56.764,32.041-96.467,82.687-96.467  c24.255,0,41.343,0,55.124,0v68.905h-27.562c-27.535,0-41.343,13.781-41.343,41.343v27.562h68.905l-13.781,68.905h-55.124v152.908  C431.44,462.061,504.902,367.611,504.902,256C504.902,118.535,393.465,7.098,256,7.098z" fill="url(#SVGID_2_)"></path>
                                        </svg>
                                    </div>
                                Sign-up with facebook</h3>
                            </div>
                            <div class="right-button">
                                <button type="button transparent" class="btn btn-info next">
                                <p>Next</p>
                                    <svg enable-background="new 0 0 96 96" height="96px" id="arrow_right" version="1.1" viewBox="0 0 96 96" width="96px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <path d="M12,52h62.344L52.888,73.456c-1.562,1.562-1.562,4.095-0.001,5.656c1.562,1.562,4.096,1.562,5.658,0l28.283-28.284l0,0  c0.186-0.186,0.352-0.391,0.498-0.609c0.067-0.101,0.114-0.21,0.172-0.315c0.066-0.124,0.142-0.242,0.195-0.373  c0.057-0.135,0.089-0.275,0.129-0.415c0.033-0.111,0.076-0.217,0.099-0.331C87.973,48.525,88,48.263,88,48l0,0  c0-0.003-0.001-0.006-0.001-0.009c-0.001-0.259-0.027-0.519-0.078-0.774c-0.024-0.12-0.069-0.231-0.104-0.349  c-0.039-0.133-0.069-0.268-0.123-0.397c-0.058-0.139-0.136-0.265-0.208-0.396c-0.054-0.098-0.097-0.198-0.159-0.292  c-0.146-0.221-0.314-0.427-0.501-0.614L58.544,16.888c-1.562-1.562-4.095-1.562-5.657-0.001c-1.562,1.562-1.562,4.095,0,5.658  L74.343,44L12,44c-2.209,0-4,1.791-4,4C8,50.209,9.791,52,12,52z"/>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="content">
                        <h3>Display name</h3>
                        <div class="stump-form">
                            <div class="form">
                                <div class="input error">
                                    <label for="email">Choose a display name</label>
                                    <div class="input-box">
                                        <input type="text" placeholder="Display name">
                                        <div class="clear">
                                            <svg height="512px" id="Layer_1" style="enable-background:new 0 0 512 512;" version="1.1" viewBox="0 0 512 512" width="512px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M437.5,386.6L306.9,256l130.6-130.6c14.1-14.1,14.1-36.8,0-50.9c-14.1-14.1-36.8-14.1-50.9,0L256,205.1L125.4,74.5  c-14.1-14.1-36.8-14.1-50.9,0c-14.1,14.1-14.1,36.8,0,50.9L205.1,256L74.5,386.6c-14.1,14.1-14.1,36.8,0,50.9  c14.1,14.1,36.8,14.1,50.9,0L256,306.9l130.6,130.6c14.1,14.1,36.8,14.1,50.9,0C451.5,423.4,451.5,400.6,437.5,386.6z"></path></svg>
                                        </div>
                                    </div>
                                    <p class="status">Display name Cann't be empty</p>
                                </div>
                            </div>
                        </div>
                        <div class="bottom clearfix">
                            <div class="left-button">
                                <button type="button transparent" class="btn btn-info prev">
                                    <svg enable-background="new 0 0 96 96" height="96px" id="arrow_left" version="1.1" viewBox="0 0 96 96" width="96px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <path d="M84,44H21.656l21.456-21.456c1.562-1.562,1.562-4.095,0.001-5.657c-1.562-1.562-4.096-1.562-5.658,0L9.172,45.171l0,0  c-0.186,0.186-0.352,0.391-0.498,0.61c-0.067,0.101-0.114,0.21-0.171,0.315c-0.067,0.124-0.142,0.242-0.196,0.373  c-0.056,0.135-0.088,0.276-0.129,0.416c-0.032,0.111-0.075,0.217-0.098,0.331C8.028,47.475,8,47.737,8,48l0,0  c0,0.003,0.001,0.005,0.001,0.008c0,0.259,0.027,0.519,0.078,0.774c0.024,0.121,0.069,0.232,0.104,0.349  c0.039,0.133,0.07,0.268,0.123,0.397c0.058,0.139,0.136,0.265,0.208,0.396c0.054,0.098,0.096,0.198,0.159,0.292  c0.147,0.221,0.314,0.427,0.501,0.614l28.282,28.281c1.562,1.562,4.095,1.562,5.657,0.001c1.562-1.562,1.562-4.096,0-5.658  L21.657,52H84c2.209,0,4-1.791,4-4S86.209,44,84,44z">
                                        </path>
                                    </svg>
                                    <p>Back</p>
                                </button>
                            </div>
                            <div class="right-button">
                                <button type="button transparent" class="btn btn-info next">
                                <!-- <p>Next</p>
                                    <svg enable-background="new 0 0 96 96" height="96px" id="arrow_right" version="1.1" viewBox="0 0 96 96" width="96px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <path d="M12,52h62.344L52.888,73.456c-1.562,1.562-1.562,4.095-0.001,5.656c1.562,1.562,4.096,1.562,5.658,0l28.283-28.284l0,0  c0.186-0.186,0.352-0.391,0.498-0.609c0.067-0.101,0.114-0.21,0.172-0.315c0.066-0.124,0.142-0.242,0.195-0.373  c0.057-0.135,0.089-0.275,0.129-0.415c0.033-0.111,0.076-0.217,0.099-0.331C87.973,48.525,88,48.263,88,48l0,0  c0-0.003-0.001-0.006-0.001-0.009c-0.001-0.259-0.027-0.519-0.078-0.774c-0.024-0.12-0.069-0.231-0.104-0.349  c-0.039-0.133-0.069-0.268-0.123-0.397c-0.058-0.139-0.136-0.265-0.208-0.396c-0.054-0.098-0.097-0.198-0.159-0.292  c-0.146-0.221-0.314-0.427-0.501-0.614L58.544,16.888c-1.562-1.562-4.095-1.562-5.657-0.001c-1.562,1.562-1.562,4.095,0,5.658  L74.343,44L12,44c-2.209,0-4,1.791-4,4C8,50.209,9.791,52,12,52z"/>
                                    </svg> -->
                                    <div class="spinner-center">
                                        <svg width='26px' height='26px' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="uil-default">
                                            <rect x="0" y="0" width="100" height="100" fill="none" class="bk"></rect>
                                            <rect  x='46.5' y='40' width='7' height='20' rx='5' ry='5' fill='#ccc' transform='rotate(0 50 50) translate(0 -30)'>
                                                <animate attributeName='opacity' from='1' to='0' dur='1s' begin='-1s' repeatCount='indefinite'/>
                                            </rect>
                                            <rect  x='46.5' y='40' width='7' height='20' rx='5' ry='5' fill='#ccc' transform='rotate(30 50 50) translate(0 -30)'>
                                                <animate attributeName='opacity' from='1' to='0' dur='1s' begin='-0.9166666666666666s' repeatCount='indefinite'/>
                                            </rect>
                                            <rect  x='46.5' y='40' width='7' height='20' rx='5' ry='5' fill='#ccc' transform='rotate(60 50 50) translate(0 -30)'>
                                                <animate attributeName='opacity' from='1' to='0' dur='1s' begin='-0.8333333333333334s' repeatCount='indefinite'/>
                                            </rect>
                                            <rect  x='46.5' y='40' width='7' height='20' rx='5' ry='5' fill='#ccc' transform='rotate(90 50 50) translate(0 -30)'>
                                                <animate attributeName='opacity' from='1' to='0' dur='1s' begin='-0.75s' repeatCount='indefinite'/>
                                            </rect>
                                            <rect  x='46.5' y='40' width='7' height='20' rx='5' ry='5' fill='#ccc' transform='rotate(120 50 50) translate(0 -30)'>
                                                <animate attributeName='opacity' from='1' to='0' dur='1s' begin='-0.6666666666666666s' repeatCount='indefinite'/>
                                            </rect>
                                            <rect  x='46.5' y='40' width='7' height='20' rx='5' ry='5' fill='#ccc' transform='rotate(150 50 50) translate(0 -30)'>
                                                <animate attributeName='opacity' from='1' to='0' dur='1s' begin='-0.5833333333333334s' repeatCount='indefinite'/>
                                            </rect>
                                            <rect  x='46.5' y='40' width='7' height='20' rx='5' ry='5' fill='#ccc' transform='rotate(180 50 50) translate(0 -30)'>
                                                <animate attributeName='opacity' from='1' to='0' dur='1s' begin='-0.5s' repeatCount='indefinite'/>
                                            </rect>
                                            <rect  x='46.5' y='40' width='7' height='20' rx='5' ry='5' fill='#ccc' transform='rotate(210 50 50) translate(0 -30)'>
                                                <animate attributeName='opacity' from='1' to='0' dur='1s' begin='-0.4166666666666667s' repeatCount='indefinite'/>
                                            </rect>
                                            <rect  x='46.5' y='40' width='7' height='20' rx='5' ry='5' fill='#ccc' transform='rotate(240 50 50) translate(0 -30)'>
                                                <animate attributeName='opacity' from='1' to='0' dur='1s' begin='-0.3333333333333333s' repeatCount='indefinite'/>
                                            </rect>
                                            <rect  x='46.5' y='40' width='7' height='20' rx='5' ry='5' fill='#ccc' transform='rotate(270 50 50) translate(0 -30)'>
                                                <animate attributeName='opacity' from='1' to='0' dur='1s' begin='-0.25s' repeatCount='indefinite'/>
                                            </rect>
                                            <rect  x='46.5' y='40' width='7' height='20' rx='5' ry='5' fill='#ccc' transform='rotate(300 50 50) translate(0 -30)'>
                                                <animate attributeName='opacity' from='1' to='0' dur='1s' begin='-0.16666666666666666s' repeatCount='indefinite'/>
                                            </rect>
                                            <rect  x='46.5' y='40' width='7' height='20' rx='5' ry='5' fill='#ccc' transform='rotate(330 50 50) translate(0 -30)'>
                                                <animate attributeName='opacity' from='1' to='0' dur='1s' begin='-0.08333333333333333s' repeatCount='indefinite'/>
                                            </rect>
                                        </svg>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item notify">
                    <div class="content">
                        <h3>Notify method</h3>
                        <div class="stump-form">
                            <div class="form">
                                <div class="input method method-email error">
                                    <div class="input-box">
                                        <input class="mobile" type="text" placeholder="Mobile">
                                        <input class="email" type="email" placeholder="Email">
                                        <div class="clear">
                                            <svg height="512px" id="Layer_1" style="enable-background:new 0 0 512 512;" version="1.1" viewBox="0 0 512 512" width="512px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M437.5,386.6L306.9,256l130.6-130.6c14.1-14.1,14.1-36.8,0-50.9c-14.1-14.1-36.8-14.1-50.9,0L256,205.1L125.4,74.5  c-14.1-14.1-36.8-14.1-50.9,0c-14.1,14.1-14.1,36.8,0,50.9L205.1,256L74.5,386.6c-14.1,14.1-14.1,36.8,0,50.9  c14.1,14.1,36.8,14.1,50.9,0L256,306.9l130.6,130.6c14.1,14.1,36.8,14.1,50.9,0C451.5,423.4,451.5,400.6,437.5,386.6z"></path></svg>
                                        </div>
                                    </div>
                                    <p class="status">email not valid</p>
                                </div>
                                <div class="input switch-email">
                                        <h3 class="switch">Use email instead</h3>
                                    </div>
                                <div class="input">
                                    <button class="btn">Send confirmation token</button>
                                </div>
                                <div class="input error">
                                    <label for="email">Confirmation token sent. Check your email and enter below</label>
                                    <div class="input-box">
                                        <input type="text" placeholder="Confirmation token">
                                        <div class="clear">
                                            <svg height="512px" id="Layer_1" style="enable-background:new 0 0 512 512;" version="1.1" viewBox="0 0 512 512" width="512px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M437.5,386.6L306.9,256l130.6-130.6c14.1-14.1,14.1-36.8,0-50.9c-14.1-14.1-36.8-14.1-50.9,0L256,205.1L125.4,74.5  c-14.1-14.1-36.8-14.1-50.9,0c-14.1,14.1-14.1,36.8,0,50.9L205.1,256L74.5,386.6c-14.1,14.1-14.1,36.8,0,50.9  c14.1,14.1,36.8,14.1,50.9,0L256,306.9l130.6,130.6c14.1,14.1,36.8,14.1,50.9,0C451.5,423.4,451.5,400.6,437.5,386.6z"></path></svg>
                                        </div>
                                    </div>
                                    <p class="status">token not valid</p>
                                </div>
                            </div>
                        </div>
                        <div class="bottom clearfix">
                            <div class="left-button">
                                <button type="button transparent" class="btn btn-info prev">
                                    <svg enable-background="new 0 0 96 96" height="96px" id="arrow_left" version="1.1" viewBox="0 0 96 96" width="96px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <path d="M84,44H21.656l21.456-21.456c1.562-1.562,1.562-4.095,0.001-5.657c-1.562-1.562-4.096-1.562-5.658,0L9.172,45.171l0,0  c-0.186,0.186-0.352,0.391-0.498,0.61c-0.067,0.101-0.114,0.21-0.171,0.315c-0.067,0.124-0.142,0.242-0.196,0.373  c-0.056,0.135-0.088,0.276-0.129,0.416c-0.032,0.111-0.075,0.217-0.098,0.331C8.028,47.475,8,47.737,8,48l0,0  c0,0.003,0.001,0.005,0.001,0.008c0,0.259,0.027,0.519,0.078,0.774c0.024,0.121,0.069,0.232,0.104,0.349  c0.039,0.133,0.07,0.268,0.123,0.397c0.058,0.139,0.136,0.265,0.208,0.396c0.054,0.098,0.096,0.198,0.159,0.292  c0.147,0.221,0.314,0.427,0.501,0.614l28.282,28.281c1.562,1.562,4.095,1.562,5.657,0.001c1.562-1.562,1.562-4.096,0-5.658  L21.657,52H84c2.209,0,4-1.791,4-4S86.209,44,84,44z">
                                        </path>
                                    </svg>
                                    <p>Back</p>
                                </button>
                            </div>
                            <div class="right-button">
                                <button type="button transparent" class="btn btn-info next">
                                <p>Next</p>
                                    <svg enable-background="new 0 0 96 96" height="96px" id="arrow_right" version="1.1" viewBox="0 0 96 96" width="96px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <path d="M12,52h62.344L52.888,73.456c-1.562,1.562-1.562,4.095-0.001,5.656c1.562,1.562,4.096,1.562,5.658,0l28.283-28.284l0,0  c0.186-0.186,0.352-0.391,0.498-0.609c0.067-0.101,0.114-0.21,0.172-0.315c0.066-0.124,0.142-0.242,0.195-0.373  c0.057-0.135,0.089-0.275,0.129-0.415c0.033-0.111,0.076-0.217,0.099-0.331C87.973,48.525,88,48.263,88,48l0,0  c0-0.003-0.001-0.006-0.001-0.009c-0.001-0.259-0.027-0.519-0.078-0.774c-0.024-0.12-0.069-0.231-0.104-0.349  c-0.039-0.133-0.069-0.268-0.123-0.397c-0.058-0.139-0.136-0.265-0.208-0.396c-0.054-0.098-0.097-0.198-0.159-0.292  c-0.146-0.221-0.314-0.427-0.501-0.614L58.544,16.888c-1.562-1.562-4.095-1.562-5.657-0.001c-1.562,1.562-1.562,4.095,0,5.658  L74.343,44L12,44c-2.209,0-4,1.791-4,4C8,50.209,9.791,52,12,52z"/>
                                    </svg>
                                </button>
                            </div>
                            <div class="right-button">
                                <button type="button" class="btn btn-info next">Next</button>
                            <button type="button" class="btn btn-info finish"><p>Sign Up</p></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item password">
                    <div class="content">
                        <h3>Password</h3>
                        <div class="stump-form">
                            <div class="form">
                                <div class="input error">
                                    <label for="email">Password</label>
                                    <div class="input-box">
                                        <input type="password" placeholder="password">
                                        <div class="clear">
                                            <svg height="512px" id="Layer_1" style="enable-background:new 0 0 512 512;" version="1.1" viewBox="0 0 512 512" width="512px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M437.5,386.6L306.9,256l130.6-130.6c14.1-14.1,14.1-36.8,0-50.9c-14.1-14.1-36.8-14.1-50.9,0L256,205.1L125.4,74.5  c-14.1-14.1-36.8-14.1-50.9,0c-14.1,14.1-14.1,36.8,0,50.9L205.1,256L74.5,386.6c-14.1,14.1-14.1,36.8,0,50.9  c14.1,14.1,36.8,14.1,50.9,0L256,306.9l130.6,130.6c14.1,14.1,36.8,14.1,50.9,0C451.5,423.4,451.5,400.6,437.5,386.6z"></path></svg>
                                        </div>
                                    </div>
                                    <p class="status">password Cannot be empty</p>
                                </div>
                                <div class="input error">
                                    <label for="email">Conform password</label>
                                    <div class="input-box">
                                        <input type="password" placeholder="Conform password">
                                        <div class="clear">
                                            <svg height="512px" id="Layer_1" style="enable-background:new 0 0 512 512;" version="1.1" viewBox="0 0 512 512" width="512px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M437.5,386.6L306.9,256l130.6-130.6c14.1-14.1,14.1-36.8,0-50.9c-14.1-14.1-36.8-14.1-50.9,0L256,205.1L125.4,74.5  c-14.1-14.1-36.8-14.1-50.9,0c-14.1,14.1-14.1,36.8,0,50.9L205.1,256L74.5,386.6c-14.1,14.1-14.1,36.8,0,50.9  c14.1,14.1,36.8,14.1,50.9,0L256,306.9l130.6,130.6c14.1,14.1,36.8,14.1,50.9,0C451.5,423.4,451.5,400.6,437.5,386.6z"></path></svg>
                                        </div>
                                    </div>
                                    <p class="status">Password mismatch</p>
                                </div>
                                <div class="input">
                                    <button class="btn" id="loginBtn">Sign up</button>
                                </div>
                            </div>
                        </div>
                        <div class="bottom clearfix">
                            <div class="left-button">
                                <button type="button transparent" class="btn btn-info prev">Back</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="background"></div>
</div>
<div class="modal login-modal forget-password-modal" id="forget-password">
    <div class="box">
        <div class="close icon">
            <svg height="512px" id="Layer_1" style="enable-background:new 0 0 512 512;" version="1.1" viewBox="0 0 512 512" width="512px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M437.5,386.6L306.9,256l130.6-130.6c14.1-14.1,14.1-36.8,0-50.9c-14.1-14.1-36.8-14.1-50.9,0L256,205.1L125.4,74.5  c-14.1-14.1-36.8-14.1-50.9,0c-14.1,14.1-14.1,36.8,0,50.9L205.1,256L74.5,386.6c-14.1,14.1-14.1,36.8,0,50.9  c14.1,14.1,36.8,14.1,50.9,0L256,306.9l130.6,130.6c14.1,14.1,36.8,14.1,50.9,0C451.5,423.4,451.5,400.6,437.5,386.6z"></path></svg>
        </div>
        <div class="stump-form">
            <h1>Recover Password</h1>
            <div class="form">
                <div class="input error">
                    <label for="email">E-mail</label>
                    <div class="input-box">
                        <input type="text" id="email" placeholder="E-mail">
                        <div class="clear">
                            <svg height="512px" id="Layer_1" style="enable-background:new 0 0 512 512;" version="1.1" viewBox="0 0 512 512" width="512px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M437.5,386.6L306.9,256l130.6-130.6c14.1-14.1,14.1-36.8,0-50.9c-14.1-14.1-36.8-14.1-50.9,0L256,205.1L125.4,74.5  c-14.1-14.1-36.8-14.1-50.9,0c-14.1,14.1-14.1,36.8,0,50.9L205.1,256L74.5,386.6c-14.1,14.1-14.1,36.8,0,50.9  c14.1,14.1,36.8,14.1,50.9,0L256,306.9l130.6,130.6c14.1,14.1,36.8,14.1,50.9,0C451.5,423.4,451.5,400.6,437.5,386.6z"></path></svg>
                        </div>
                    </div>
                    <p class="status">Email Cannot be empty</p>
                </div>
                <div class="input error">
                    <label for="email">Mobile</label>
                    <div class="input-box">
                        <input class="mobile" type="text" placeholder="Mobile">
                        <div class="clear">
                            <svg height="512px" id="Layer_1" style="enable-background:new 0 0 512 512;" version="1.1" viewBox="0 0 512 512" width="512px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M437.5,386.6L306.9,256l130.6-130.6c14.1-14.1,14.1-36.8,0-50.9c-14.1-14.1-36.8-14.1-50.9,0L256,205.1L125.4,74.5  c-14.1-14.1-36.8-14.1-50.9,0c-14.1,14.1-14.1,36.8,0,50.9L205.1,256L74.5,386.6c-14.1,14.1-14.1,36.8,0,50.9  c14.1,14.1,36.8,14.1,50.9,0L256,306.9l130.6,130.6c14.1,14.1,36.8,14.1,50.9,0C451.5,423.4,451.5,400.6,437.5,386.6z"></path></svg>
                        </div>
                    </div>
                    <p class="status">Mobile Cannot be empty</p>
                </div>
            </div>
        </div>
        <div class="recover-password">
            <button class="btn">Recover Password</span>
            </button>
        </div>
    </div>
</div>